@import url("/pallete.css");

th#Z {
  color: #1df900;
}

th#T {
  color: #13a2ff;
}

th#H {
  color: #fff900;
}

th#W {
  color: #7629e8;
}

th#A {
  color: #ff0000;
}

.infobox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  background-color: var(--darkD);
  border-radius: 12px;
  padding: 30px;
  text-align: left;
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
  
}