@import url("/pallete.css");

body {
  background: linear-gradient(
    -45deg,
    #8b0000,
    #ff4500,
    var(--darkC),
    var(--darkC),
    var(--darkC),
    #ff4500,
    #8b0000
    )
  ;
  animation: gradient 28s ease infinite;
  background-size: 400% 400%;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

form.login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  background-color: var(--darkD);
  border-radius: 12px;
  max-width: 30%;
  padding: 30px;
}

input[type="submit"]{
  background: darkred !important;
}