.domine {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.domine-medium {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.domine-bold {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.domine-bolder {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  overflow: hidden;
}

header {
  padding-top: 30px;
  height: 45vh;
  min-height: min-content;
  text-align: center;
  font-size: 3rem !important;
  line-height: 0.5 !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

form.login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  background-color: light-dark(var(--lightB), var(--darkD));
  border-radius: 12px;
  max-width: 30%;
  padding: 30px;
  min-width: fit-content;
  height: fit-content;
}

.setup-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  max-height: 100vh;
  max-width: 100vw;
  min-height: min-content;
  align-items: center;
  justify-content: center;
}

.setup-header {
  grid-column: span 5 / span 5;
  grid-row: span 2 / span 2;
  text-align: center;
}

.setup-content {
  grid-column: span 5 / span 5;
  grid-row: span 3 / span 3;
  grid-row-start: 3;
  text-align: center;
  overflow: scroll;
}

.setup-footer {
  grid-column: span 5 / span 5;
  grid-row-start: 6;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  background-color: light-dark(var(--lightB), var(--darkD));
  border-radius: 12px;
  max-width: 30%;
  padding: 30px;
  margin: 30px;
  min-width: fit-content;
  height: fit-content;
}

.loginbox > .boxes {
  display: flex;
  flex-direction: initial;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  overflow-y: auto;
  padding: 10px;
}
