@import url("/pallete.css");

body {
  background: linear-gradient(
    -45deg,
    var(--purpleC),
    var(--purpleD),
    var(--purpleE),
    var(--darkC),
    var(--darkC),
    var(--darkC),
    var(--purpleE),
    var(--purpleD),
    var(--purpleC)
  );
  animation: gradient 28s ease infinite;
  background-size: 400% 400%;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

form.login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  background-color: var(--darkD);
  border-radius: 12px;
  max-width: 30%;
  padding: 30px;
  margin: 30px;
  min-width: fit-content;
  height: fit-content;
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 32px;
}

.avatar-container:hover .hover-overlay {
  opacity: 1;
}

.editbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.editbox > .boxes {
  display: flex;
  flex-direction: initial;
}