<link rel="stylesheet" href="/assets/css/page/abnoAdd.css">
<div class="loginbox">
    <h1>{{@pgTitle}}</h1>
    <form action="" method="post" class="login">
        <label for="name">Abnormality's name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="origin">Abnormality's origin</label>
        <select name="origin" id="origin">
            <option value="F">Fairytale</option>
            <option value="T">Trauma</option>
            <option value="O">Original</option>
            <option value="M">Mythical</option>
        </select>
        <br>
        <label for="shape">Abnormality's shape</label>
        <select name="shape" id="shape">
            <option value="1">Humanoid</option>
            <option value="2">Animalistic</option>
            <option value="3">Otherworldly or religious</option>
            <option value="4">Inanimate objects</option>
            <option value="5">Machines and artifacts</option>
            <option value="6">'Abstract'</option>
            <option value="7">'Breaching Tool'</option>
            <option value="8">'Sin'</option>
            <option value="9">Tool-type</option>
            <option value="0">Unknown</option>
        </select>
        <br>
        <label for="code">Abnormality's unique identification code</label>
        <input type="number" name="code" id="code">
        <br>
        <label for="risk">Abnormality's Risk Level</label>
        <select name="risk" id="risk">
            <option value="Z">Zayin</option>
            <option value="T">Teth</option>
            <option value="H">He</option>
            <option value="W">Waw</option>
            <option value="A">Aleph</option>
        </select>
        <br>
        <input type="submit" value="Add">
    </form>
    <div class="linkbar">
        <a href="/" class="link">Go home</a> • <a href="https://lobotomycorp.fandom.com/wiki/Abnormalities#Classification_Code" class="link">More info</a>
    </div>
</div>