<link rel="stylesheet" href="/assets/css/page/abno.css">
<div class="loginbox">
    <h1>{{@pgTitle}}</h1>
    <form action="" method="post" class="login">
        <label for="name">Abnormality's name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="origin">Abnormality's origin</label>
        <input type="text" name="origin" id="origin">
        <br>
        <label for="shape">Abnormality's shape</label>
        <input type="number" name="shape" id="shape" max="1" min="0">
        <br>
        <label for="code">Abnormality's identification code</label>
        <input type="number" name="code" id="code">
        <br>
        <label for="risk">Abnormality's Risk Level</label>
        <input type="text" name="risk" id="risk" maxlength="1">
        <br>
        <input type="submit" value="Add">
    </form>
</div>