<link rel="stylesheet" href="/assets/css/page/abnoList.css">
<div class="infobox">
    <h1>{{@pgTitle}}</h1>
    <div class="info">
        <table>
            <tr>
                <th>Name</th>
                <th>Origin</th>
                <th>Shape</th>
                <th>Code</th>
                <th>Risk</th>
            </tr>
            <repeat group="{{@abnos}}" value="{{@abno}}">
                <tr>
                    <th>{{@abno.name}}</th>
                    <th>{{@abno.origin}}</th>
                    <th>{{@abno.shape}}</th>
                    <th>{{@abno.code}}</th>
                    <th id="{{@abno.risk}}">{{@abno.risk}}</th>
                </tr>
            </repeat>
        </table>
    </div>
    <div class="linkbar">
        <a href="/" class="link">Go home</a> • <a href="/abnos/add" class="link">Add an Abnormality</a>
    </div>
</div>