<link rel="stylesheet" href="/assets/css/page/admin.css">

<div class="editbox">
    <h1>{{@pgTitle}}</h1>
    <div class="boxes">
        <panel class="box" id="stats">
            <table>
                <tr>
                    <td id="tbl-left">Lists</td>
                    <td id="tbl-right">{{@listsCount}}</td>
                </tr>
                <tr>
                    <td id="tbl-left">Subtasks</td>
                    <td id="tbl-right">{{@subtasksCount}}</td>
                </tr>
                <tr>
                    <td id="tbl-left">Tasks</td>
                    <td id="tbl-right">{{@tasksCount}}</td>
                </tr>
                <tr>
                    <td id="tbl-left">Users</td>
                    <td id="tbl-right">{{@usersCount}}</td>
                </tr>
            </table>
            <div>
                <a href="/install" class="button light">Reinitialize</a>
                <a href="/admin/set?enable_setup=1&return=/" class="button light">Resetup</a>
            </div>
        </panel>

        <panel class="box" id="last-created-users">
            <repeat group="{{@lastUsers}}" value="{{@user}}">
                <a class="user-card " href="/admin/user/{{@user.id}}">
                    <div class="user-card-avtr">
                        <img class="circle" src="{{@user.avatar}}" alt="{{@user.username}}'s Avatar" width="100"
                            height="100">
                    </div>
                    <div class="user-card-nick">{{@user.username}}</div>
                    <sub class="user-card-desc">{{@user.account_created}}</sub>
                </a>
            </repeat>
            <section>
                <a href="/admin/user" class="button light">More users</a>
                <a href="/admin/user/register" class="button light">Add user</a>
            </section>
        </panel>

        <panel class="box" id="version">
            <h2>{{@version}} {{@codename}}</h2>
            <a href="https://github.com/pisekpiskovec/TaskBox/releases/latest/" class="button light">Check for
                updates</a>
        </panel>
    </div>

    <div class="linkbar">
        <a href="/" class="link">Go home</a>
    </div>
</div>