<link rel="stylesheet" href="assets/css/page/user.css">
<link rel="stylesheet" href="assets/css/page/admin.css">

<div class="loginbox">
    <h1>{{@pgTitle}}</h1>
    <form method="post" class="login">
        <input type="hidden" name="admin" value="true">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="repeat-password">Password Verification</label>
        <input type="password" name="repeat-password" id="repeat-password" required>
        <input type="submit" value="Register" class="button light">
    </form>
    <div class="linkbar">
        <a href="/admin/user" class="link">Go to user list</a>
    </div>
</div>