@property --brandingColor {
    syntax: '<color>';
    inherits: false;
    initial-value: #9141ac;
}

* {
    background-color: light-dark(#f6f5f4, #241f31);
    color: light-dark(#241f31, #f6f5f4);
}