<link rel="stylesheet" href="assets/css/page/user.css">

<div class="loginbox">
    <h1>{{@pgTitle}}</h1>
    <form method="post" class="login">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="repeat-password">Password Verification</label>
        <input type="password" name="repeat-password" id="repeat-password" required>
        <input type="submit" value="Register" class="button">
    </form>
    <div class="linkbar">
        <a href="/" class="link">Go home</a> • Already have an account?<a href="/login" class="link">Log in!</a>
    </div>
</div>