<link rel="stylesheet" href="/assets/css/page/user.css">

<div class="loginbox">
    <h1>{{@pgTitle}}</h1>
    <form method="post" class="login">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <br>
        <input type="submit" value="Request password">
    </form>
    <div class="linkbar">
        <a href="/" class="link">Go home</a> • <a href="/login" class="link">Log in</a> • <a href="/register" class="link">Register</a>
    </div>
</div>