<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/page/setup.css">
</head>

<div class="setup-grid">
    <header class="setup-header">
        <h1 class="domine">Create a database</h1>
    </header>

    <div class="setup-content">
        <h3>This is where things get personal. Give your database a name...</h3>
        <p>...something strong, memorable, maybe even a little weird.</p>

        <div class="loginbox">
            <form method="post" class="login">
                <label for="name">Database name</label>
                <input type="text" name="name" id="name" placeholder="taskbox" required>

                <input type="submit" value="Continue" class="light">
            </form>
        </div>

        <p>Pick whatever fits your vibe. Just remember: once you name it, you're in this together.</p>
        <sub>(And yes, it's totally fine to call it “DB” in private.)</sub>
    </div>
</div>