<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/css/page/home.css">
</head>

<header>
    <h1 class="domine">Setup database</h1>
    <h3 class="domine">All you need is to create the database.</h3>
    <p class="domine">We will do the tables for you.</p>
</header>

<footer class="linkbar">
    After you create the database:
    <a href="/setup?page=3" class="button">Continue</a>
</footer>