<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/css/page/home.css">
</head>

<header>
    <h1 class="domine">TaskBox</h1>
    <p class="domine">Simple to-do manager to organise daily life.</p>
</header>

<footer class="linkbar">
    <a href="/setup?page=2" class="button">Continue</a>
</footer>