<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/css/page/home.css">
</head>

<!-- Top bar -->
<include href="header.html" />

<header>
    <h1 class="domine">Whoops</h1>
    <h3 class="domine">This page does not exist.</h3>
    <sub class="domine">Or there was another error.</sub>
</header>

<!-- GitHub odkaz / feedback -->
<footer class="linkbar">
    <a href="/" class="button">Go home</a>
</footer>