<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/css/page/home.css">
</head>

<!-- Top bar -->
<include href="header.html" />

<header>
    <h1 class="domine">Simple to-do manager</h1>
    <h1 class="domine">to organise daily life.</h1>
</header>

<!-- Sekce: Today -->

<section id="today">
    <h2>Today – An overview of the most important things</h2>
    <div class="section-in-container">
        <img src="" alt="Placeholder" width="100px" id="today">
        <p>The <b>Today</b> section serves as a smart daily planner. You can pin your most important tasks for the day or it will automatically show you the ones that are due today. This gives you an instant overview of your priorities so you can focus on what's most important right now!</p>
    </div>
</section>

<!-- Sekce: self -->
<section id="self">
    <h2>Web – Access from anywhere</h2>
    <div class="section-in-container">
        <p>TaskBox is a web app, which means you can access your tasks from anywhere and on any device - whether it's a desktop, tablet or mobile. Just open a browser. The app is designed to be hosted on its own server, giving you full control over your data and availability.</p>
        <img src="" alt="Placeholder" width="100px" id="self">
    </div>
</section>

<!-- Sekce: lists -->
<section id="lists">
    <h2>Lists – Organize your tasks by topic</h2>
    <div class="section-in-container">
        <p>In TaskBox, you can sort tasks into neat lists by project or mood. Each task can also have its own notes, subtasks, reminders and due date. This makes it easy to create a system that fits your work style and pace of life.</p>
        <img src="" alt="Placeholder" width="100px" id="lists">
        <img src="" alt="Placeholder" width="100px" id="notes">
        <img src="" alt="Placeholder" width="100px" id="subtasks">
    </div>
</section>

<!-- GitHub odkaz / feedback -->
<footer class="linkbar">
    Do you have ideas or feedback? Share it <a href="https://github.com/pisekpiskovec/TaskBox/issues" class="worded_link">here</a>!
</footer>