<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/css/page/home.css">
</head>

<!-- Top bar -->
<include href="header.html" />

<header>
    <h1 class="domine">Jednoduchý to-do manažer</h1>
    <h1 class="domine">pro organizaci každodenního života.</h1>
</header>

<!-- Sekce: Today -->

<section id="today">
    <h2>Today – Přehled toho nejdůležitějšího</h2>
    <div class="section-in-container">
        <img src="" alt="Placeholder" width="100px" id="today">
        <p>Sekce <b>Dnes</b> slouží jako chytrý denní plánovač. Můžeš si do ní může připnout nejdůležitější úkoly pro daný den nebo se ti zde automaticky zobrazí ty, které mají být dnes hotové. Díky tomu získáš okamžitý přehled o svých prioritách a můžeš se soustředit na to, co je právě teď nejdůležitější!</p>
    </div>
</section>

<!-- Sekce: self -->
<section id="self">
    <h2>Web – Přístup odkudkoli</h2>
    <div class="section-in-container">
        <p>TaskBox je webová aplikace, což znamená, že ke svým úkolům máš přístup odkudkoli a na jakémkoli zařízení – ať už z počítače, tabletu nebo mobilu. Stačí otevřít prohlížeč. Aplikace je navržena k hostování na vlastním serveru, čímž máš plnou kontrolu nad svými daty i dostupností.</p>
        <img src="" alt="Placeholder" width="100px" id="self">
    </div>
</section>

<!-- Sekce: lists -->
<section id="lists">
    <h2>Listy – Uspořádej si úkoly podle témat</h2>
    <div class="section-in-container">
        <p>V TaskBoxu si můžeš úkoly třídit do přehledných listů podle projektů, oblastí nebo nálady. Každý úkol může mít navíc vlastní poznámky, podúkoly, připomenutí a datum splnění. Díky tomu si snadno vytvoříš systém, který odpovídá tvému pracovnímu stylu i životnímu tempu.</p>
        <img src="" alt="Placeholder" width="100px" id="lists">
        <img src="" alt="Placeholder" width="100px" id="notes">
        <img src="" alt="Placeholder" width="100px" id="subtasks">
    </div>
</section>

<!-- GitHub odkaz / feedback -->
<footer class="linkbar">
    Máte nápady nebo zpětnou vazbu? Podělte se <a href="https://github.com/pisekpiskovec/TaskBox/issues">zde</a>!
</footer>